.DS_Store
UnitTestResults.xml
test-results/
obj/
Assembly-CSharp-Editor.pidb
Assembly-CSharp.pidb
Assembly-UnityScript-Editor.pidb
Library
ProjectSettings
*.csproj
*.unityproj
*.sln
*.userprefs
UnitTestResults.xml
Temp
.DS_Store
Assets/Editor/Plugins/*
Assets/Runtime/Plugins/*
target/
unity-test-log.txt
